
.login-photo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  align-items: center;
  background-image: url("login-bg.jpg");
  background-position: center;
  background-size: cover;
}
