
.login-photo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    align-items: center;
    background: {
      image: asset_url("login-bg.jpg");
      position: center;
      repeat: no-repeat;
      size: cover;
  }
}